@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html,body {
    color: #333;
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 4rem;
    padding:0 .5rem;
    max-width: 50rem;
}

figcaption {
    display:none;
}

figure {
    margin:0;
}

h1, h2, h3, h4, h5 {
    font-weight: semibold;
    margin-top: 3rem;
    font-family: 'Montserrat';
}

p {
    line-height: 1.5rem;
}

a {
    color: steelblue;
}

img {
    width:100%;
    max-width: 512px;
}

@media (min-width: 640px) {
    body,html {
        padding: 0 1rem;
    }
}
@media (min-width: 768px) {
    body,html {
        padding: 0 2rem;
    }
}